body {
  width: 260px;
  height: 530px;
  background-color: #2d3143;
  position: relative;
}

.window {
  color: white;
  
}

.title {
  text-align: center;
  font-weight: bold;
}

#name {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.tab {
  display: flex;
  min-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  column-count: 2;
  justify-content: center;
}

.tab button {
  background-color: #6d6e7a;
  outline: none;
  border: none;
  height: 30px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.tab button:hover {
  background-color: #404454;
}

.tab button.active {
  background-color: #404454;
  border-bottom: 10px;
}

.generalLabel {
  font-size: 20px;
  text-align: left;
}

.generalData {
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
}

.detailLabel {
  font-size: 18px;
  text-align: left;
}

.detailData {
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
}

#llamalink {
  font-weight: bold;
  text-align: left;
}

.dropdown {
  display: inline-block;
}

.dropbutton {
  background-color: #6d6e7a;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: white;
  height: 30px;
  width: 100px;
}

.dropcontent {
  display: none;
  position: absolute;
  background-color: #404454;
  text-align: left;
  min-width: 250px;
  max-height: 300px;
  text-indent: 5px;
  font-size: 14px;
  overflow-y: auto;
}

.dropdown:hover .dropcontent {
  display: block;
}

.dropdown:hover .dropbutton {
  background: #404454;
}

.contactinfo {
  margin-top: 20px;
  width: 100%;
  column-count: 4;
  position: absolute;
  bottom: 0;
}

.icon {
  justify-content: center;
  display: flex;
}

a {
  color:white;
}

a:link {
  text-decoration: none;
}